<div id="searchContainer" class="row align-items-center justify-content-center">
  <form id="searchForm" class="col-sm-8 col-md-6 col-lg-6">
    <div class="form-group">
      <label for="userSearchInput">Usuário:</label>
      <input type="search" class="form-control" id="userSearchInput" placeholder="Usuário para busca...">
    </div>
  </form>
</div>
